<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <div th:replace="fragments/header :: header"  th:remove="tag"></div>
    <link rel="stylesheet" href="/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<!--menu-->
    <div th:replace="fragments/menu :: menu"></div>
<!--Main layout-->
    <main style="margin: 88px;">
        <div class="grey-bg container-fluid">
                <div class="row">
                    <div class="col-12 mt-3 mb-1">
                        <h4 class="text-uppercase" id="test">Twoje kadry</h4>
                        <p>Wszytkie twoje dane</p>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-4 g-4">

                    <div class="col">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="material-icons ">campaign</span>
                                    <h5 class="card-title">Ogłoszenia</h5>
                                    <a href="#" class="stretched-link"></a>
                                 </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="material-icons ">campaign</span>
                                    <h5 class="card-title">Ogłoszenia</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="material-icons ">campaign</span>
                                    <h5 class="card-title">Ogłoszenia</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="material-icons ">campaign</span>
                                    <h5 class="card-title">Ogłoszenia</h5>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


        </div>


    </main>
    <!--Main layout-->



</body>
</html>