



<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
  <div th:replace="fragments/header :: header"  th:remove="tag"></div>



</head>
<body>
<!--menu-->
<div th:replace="fragments/menu :: menu"></div>
<!--Main layout-->
<main style="margin: 88px;">
  <div class="grey-bg  container  justify-content-center">
    <div class="row ">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase" >Ogłoszenia </h4>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="card-deck">
          <div th:each="notice : ${notices}" th:reverse>
            <div class="card mt-3">
              <div class="card-body">
                <p class="card-text" th:text="${notice.date}"></p>
                <h5 class="card-title" th:text="${notice.title}"></h5>
                <p class="card-text" th:text="${notice.content}" style="white-space: pre-line;"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>
<!--Main layout-->



</body>
</html>

<button type="submit" class="btn btn-primary" id="generatePdfBtn"   >Generuj PDF</button>
</form>



</div>


</main>
<!--Main layout-->



</body>
</html>