<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <div th:replace="fragments/header :: header"  th:remove="tag"></div>


</head>
<body>
<!--menu-->
<div th:replace="fragments/menu :: menu"></div>
<!--Main layout-->
<main style="margin: 88px;">
    <div class="grey-bg  container-fluid  justify-content-center">
        <div class="row ">
            <div class="col-12 mt-3 mb-1">
                <h4 class="text-uppercase" id="test">Dane Personalne </h4>
                <p>Wszytkie twoje dane</p>
            </div>
        </div>



            <form th:object="${user}"  th:action="@{/personalData/{id}/pdf(id=${user.id})}"  method="get">

                <div class="d-flex mb-3">
                    <div class="form-group w-25 me-5">
                        <label for="firstName" >Imię</label>
                        <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="Enter first name" th:field="*{name}" disabled />
                    </div>
                    <div class="form-group w-25 ">
                        <label for="lastName">Nazwisko</label>
                        <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" placeholder="Enter last name" th:field="*{lastName}" disabled />

                     </div>

                </div>

                <div class="d-flex mb-3">
                    <div class="form-group w-25 me-5">
                        <label for="dob">Data urodzenia</label>
                        <input type="date" class="form-control" id="dob" aria-describedby="dobHelp" th:field="*{dateOfBirth}" disabled />
                    </div>

                     <div class="form-group w-25 ">
                         <label for="lastName">pesel</label>
                         <input type="text" class="form-control" id="pesel"  placeholder="pesel" th:field="*{pesel}" disabled />

                     </div>
                  </div>


                <div class="d-flex mb-3">
                    <div class="form-group col-md-6 w-25 me-5 ">
                        <label for="email">Adres Email </label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email" th:field="*{email}" disabled />
                    </div>
                    <div class="form-group col-md-6 w-25">
                        <label for="phoneNumber">Numer Telefonu</label>
                        <input type="tel" class="form-control" id="phoneNumber" aria-describedby="phoneNumberHelp" placeholder="phone number" th:field="*{phoneNumber}" disabled />
                    </div>
                </div>

                <div class="d-flex mb-3">
                    <div class="form-group col-md-6 w-25 me-5 ">
                        <label for="street">Ulica</label>
                        <input type="text" class="form-control" id="street" aria-describedby="addressHelp" placeholder="street" th:field="*{street}" disabled />
                    </div>
                   <div class="form-group col-md-6 w-25">
                        <label for="houseNumber">Numer domu</label>
                        <input type="text" class="form-control" id="houseNumber" aria-describedby="addressHelp" placeholder="house number" th:field="*{houseNumber}" disabled />
                    </div>
                </div>

                <div class="d-flex mb-3">
                    <div class="form-group col-md-6 w-25 me-5 ">
                        <label for="zipCode">Kod pocztowy</label>
                        <input type="text" class="form-control" id="zipCode" aria-describedby="addressHelp" placeholder="city" th:field="*{zipCode}" disabled />
                    </div>

                    <div class="form-group col-md-6 w-25">
                        <label for="city">Miejscowość</label>
                        <input type="text" class="form-control" id="city" aria-describedby="addressHelp" placeholder="city" th:field="*{city}" disabled />
                    </div>
                </div>


                <button type="submit" class="btn btn-primary" id="generatePdfBtn"   >Generuj PDF</button>
            </form>



        </div>


</main>
<!--Main layout-->



</body>
</html>